CLICKHOUSE_HOST = "148.113.47.241"
CLICKHOUSE_USER = "ubuntu"
CLICKHOUSE_INTERNAL_HOST = "10.12.0.10"
CLICKHOUSE_PORT = "9000"
CLICKHOUSE_PASS = "6*HT!99052y628a85a2-9474-475a-b234-f00bbae11964"
CLICKHOUSE_DB = "zodiac_analytics"

GROQ_API_KEY = "" 

SENDER_EMAIL   = "shivani.n@getnitro.co"
SENDER_PASSWORD= "rkgc lqvr dvpp wnfa"

DASHBOARD_URL  = "https://z.nitrocommerce.ai/login"