# BASTION_HOST = "43.205.63.38"
# BASTION_USER = "shivani" # Your Bastion username here

# DB_HOST = "zodiac-rds.choegu2w8qpt.ap-south-1.rds.amazonaws.com"
# DB_NAME = "zodiac"
# DB_USER = "postgres"
# DB_PORT = "5432"
# DB_PASS = "6*HT!99052y628a85a2-9474-475a-b234-f00bbae11964"


BASTION_HOST = "43.205.63.38"
BASTION_USER = "" # give your bastion host username here

DB_HOST = "nitrox-red.896271372615.ap-south-1.redshift-serverless.amazonaws.com"
DB_NAME = "dev"
DB_USER = "nitro-red"
DB_PORT = "5439"
DB_PASS = "6*HT!99052y628a85a2-9474-475a-b234-f00bbae11964"

GROQ_API_KEY   = 
groq_client    = 

SENDER_EMAIL   = "shivani.n@getnitro.co"
SENDER_PASSWORD= "rkgc lqvr dvpp wnfa"

DASHBOARD_URL  = "https://z.nitrocommerce.ai/login"

BASE_PATH               = "C:\Users\User1\Desktop\autmation codes\availability\AVAIL"
BRAND_NAME_MAPPING_PATH = "C:\Users\User1\Desktop\autmation codes\test.xlsx"